* {
    box-sizing: border-box;
    /*border-style: solid;*/
    border-color: darkgray;
}
noscript p {
    text-align: center;
    color: firebrick;
    font-weight: bold;
}
hr {
    border: 0;
    width: 96%;     
    margin-top: 1rem;          
    background-color:lightgrey;
    height: 2px;
  }
@font-face {
    font-family: "EXO_1";
    src: url("../css_stylesheet/font_sanserif/Exo1/Exo-VariableFont_wght.ttf");
}


body {
    padding: 20px;
    font-family: EXO_1, Optima, 'Trebuchet MS', sans-serif;
    color: rgba(51, 57, 57, 0.875);
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 2rem;
    width: 95%;
    max-width: 1150px;
    min-width: 400px;
    width: 1150px;
    min-height: 90vh;
}

@font-face {
    font-family: "flycatcher";
    src: url("../css_stylesheet/font_sanserif/flycatcher-font-2022-02-08-22-29-10-utc/Flycatcher\ Grunge.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: flycatcher, Chalkduster, "Marker Felt", Trattatello, fantasy;
    word-spacing: 0.15rem;
    color: #416351;
}

h1,
h2 {
    font-size: 3rem;
}
h2 {
    text-align: center;
}
h3 {
    font-size: 2.5rem;
}


@font-face {
    font-family: head_style;
    src: url("./font_sanserif/meloday-2022-10-31-15-23-54-utc/ttf.ttf");
}

p {
    line-height: 1.4rem;
    text-indent: 1rem;
    padding: 0.5rem;
}

main {
    min-height: 100vh;
}

footer {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    color: dimgray;
    font-size: 0.7rem;
}


nav {
    padding: 0.3rem;
    margin: 0;
    height: 1.8rem;
    background-color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_nav {
    font-family: Chalkduster, head_style, "Marker Felt", fantasy;
    font-size: 1.1rem;
}
nav>span,
nav>a {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#home_head {
    font-family: head_style, Chalkduster, fantasy;
    font-size: 3rem;
    background-image: url("./image/index_header.jpg");
    background-size: cover;
    color: snow;
    height: 7rem;
    display: flex;
    align-items: center;
    text-indent: 2rem;
    padding: 1rem;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    min-width: 400px;
}


#clock {
    width: fit-content;
    font-family: "Bradley Hand", sans-serif;
    color:darkseagreen;
    font-size: 1.4rem;
}

a:link {
    color: rgb(113, 159, 113);
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: darkgoldenrod
}

nav span {
    color: lightcoral
}

mark {
    background-color: white;
    color:rgb(228, 169, 21);
}
@media (max-width: 1000px) {

    nav {
        flex-direction: row;
        align-content: center;

    }

    nav>a,
    nav>span {
        font-size: 0.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0.2rem;
    }
    .home_nav {
        font-size: 1rem;
    }
    #home_head {
        font-size: 1.8rem;
        color: darkolivegreen;
    }
}

@media (max-width: 650px) {

    nav>a,
    nav>span {
        font-size: 0.5rem;
        margin: 0;
        padding: 0.2rem;
    }
    nav {
        flex-direction: column;
        align-content: center;
        padding: 0;
        height: auto;
        width: auto;
    }
    #home_head {
        font-size: 1.2rem;
        color: darkslategrey;
    }
    #clock {
        font-size: 1rem;
        color:white;
    }
    .home_nav {
        font-size: 0.8rem;
    }
}



/* start for index page */
#welcome {
    letter-spacing: 0.5rem;
    animation: letterspacing 2.5s;
  }
  @keyframes letterspacing {
    0% {
      letter-spacing: -4rem;
    } 
    100% {
      letter-spacing: 0.5rem;
    }
  }

.welcome {
    color: rosybrown;
    padding: 0;
    margin: 0.5rem 0.5rem;
    text-align: center;
}

.welcome~p {
    margin: 0 1.5rem;
    padding: 0.6rem;
    color: gray;
}

.welcome+p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
}


#portrait {
    max-width: 35vw;
    height: auto;
    display: flex;
    margin: 4rem 1rem;
    border-radius: 4em 8em 4em 8em / 8em 4em 8em 4em;
    -moz-border-radius: 4em 8em 4em 8em / 8em 4em 8em 4em;
    -webkit-border-radius: 4em 8em 4em 8em / 8em 4em 8em 4em;
}

#index_main {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

#index_article {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1rem;
}

@media (max-width: 1000px) {
    #index_main {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}
@media (max-width: 650px) {
    .welcome {
        font-size: 2rem;
    }
}

/* this is the end of index page */

/*this is the start of hometown page*/

/* split <main> into 2 columns */
#main_container {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    flex-direction: column;
    justify-content: center;

}

/* put <aside> to column1, main in column 2 and back to top button to column 3*/
#hometown_nav {
    grid-area: 1/1/12/1;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgba(211, 211, 211, 0.498);
}

#hometown_main {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* add back to top button*/
#backtotop, #backtotop-narrow {
    grid-column: 3;
    display: flex;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px;
    background-color: darkolivegreen;
    color: white;
    border-radius: 100px;
    place-self: end;
    position: sticky;
    bottom: 20px;
    margin-top: 100vh;
    --offset: 100px;
    margin-top: calc(100vh + var(--offset));
    white-space: nowrap;
}
#backtotop-narrow {
    display: none;
}

/* animation of the h2*/
#wavy_head span {
    font-size: 5rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    60% {
        transform: rotateY(360deg)
    }
}

#hometown_main figure {
    margin: 1%;
    font-size: 14px;
    text-align: center;
}

#hometown_main figcaption {
    margin-top: 0;
}

#hometown_img {
    margin-bottom: 0;
    max-width: 50vw;
    height: auto;
}

#hometown_building {
    max-width: 30vw;
    height: auto;
}

#hometown_main h3 {
    font-size: 2.5rem;
    padding: 0.2em;
    margin: 0 1em;
    margin-top: 0.5rem;
}

#hometown_main h4 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

#hometown_main p {
    margin: 0.2rem 0.5rem;
    padding: 0.2rem 0.5rem;
}


.iframe {
    text-align: center;
}

iframe {
    max-width: 50vw;
    max-height: 400px;
    height: 40vw;
}

/*column 1 setting*/


#hometown_nav h5 {
    font-size: 2.5rem;
    color: rgb(228, 169, 21);
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#hometown_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hometown_nav li {
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}

#hometown_nav a:link {
    color: darkolivegreen;
    font-family: EXO_1, "Marker Felt", Trattatello, fantasy;
    text-decoration: underline;
}

#hometown_nav a:hover {
    color: lightcoral;
}

#hometown_nav a:visited {
    color: rgb(113, 159, 113);
}

#culture h4 {
    text-indent: 5%;
    padding: 0.3rem
}

#qingdao-youtuber {
    box-shadow: 1px 5px 8px lightgray;
    background-color: rgba(255, 250, 240, 0.32);
    border-left: 10px solid rgba(121, 117, 117, 0.737);
    padding: 0.5rem 0.5rem 0.5rem 1rem
}

@media (max-width: 1000px) {
    #hometown_nav h5 {
        font-size: 1.5rem;
    }

    #wavy_head span {
        font-size: 2.5rem;
    }

    #hometown_nav a:link {
        font-size: 0.8rem;
    }

    #hometown_main h3 {
        font-size: 1.8rem;
    }

    #backtotop {
        font-size: 0.8rem;
    }
}

@media (max-width: 650px) {
    #wavy_head span {
        font-size: 2rem;
    }

    #backtotop {
        display: none;
    }
    #backtotop-narrow {
        display: flex;
        padding: 0.5rem 1rem;
    }
}

/* This is the end of hometown page*/

/* This is the start of furryfriends page */


#furryfriends {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.titles{
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.3rem;
}

/*puss photo slide show*/
#puss-photo-container {
    float: left;
    margin: 1.5rem 0.5rem 0 2rem;
    width: 350px;
    height: 270px;
    background-image: url(../FurryFriends/image/puss1_400x300.jpg);
    -webkit-animation: slide 20s ease-in-out infinite;
    animation: slide 20s ease-in-out infinite;
    -moz-animation: slide 20s ease-in-out infinite;
}
#puss-article p {
    margin-left: 2rem;
    margin-left: 2rem;
}
#puss-article h3{
    width: 100%;
}
#amber-article p{
    margin-left: 2rem;
    margin-left: 2rem;
}

@keyframes slide {
    0%, 100%{
        background-image: url(../FurryFriends/image/puss1_400x300.jpg);
    }
    12% {
        background-image: url(../FurryFriends/image/puss2_400x300.jpg);
    }

    25% {
        background-image: url(../FurryFriends/image/puss3_400x300.jpg);
    }

    37% {
        background-image: url(../FurryFriends/image/puss4_400x300.jpg);
    }

    50% {
        background-image: url(../FurryFriends/image/puss5_400x300.jpg);
    }

    62% {
        background-image: url(../FurryFriends/image/puss6_400x300.jpg);
    }

    75% {
        background-image: url(../FurryFriends/image/puss_400x300.jpg);
    }

    87% {
        background-image: url(../FurryFriends/image/puss8_400x300.jpg);
    }
}

/*end of puss photo slide show*/

#puss-video {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#puss-video video {
    width: 50vw;
    max-width: 600px;
    height: auto;
    min-width: 350px;
    box-shadow: 4px 4px 6px 8px rgba(66, 64, 64, 0.498);
}

#amber-photo, #if-game, #cute-Amber, #game-instruction {
    text-align: center;
}
#if-game, #game-instruction{
    color:peru;
    font-weight: bold;
    font-size: 1.2rem;
}
#yes-button {
    margin-right: 1rem;
    margin-left: 23rem;
    border-top: 2px solid peru;
    border-left: 2px solid peru;
    background-color: gray;
    color: white;
    animation: wiggle 2s infinite linear;
    transform-origin: 50% 5em;
} 
#no-button {
    margin-left: 1rem;
    margin-right: 23rem;
    border-top: 2px solid peru;
    border-left: 2px solid peru;
    background-color: gray;
    color: white;
}

#furryfriends h2 {
    margin-bottom: 0;
}

@keyframes wiggle {
    0%, 7%{
        transform: rotateZ(0);
      }
      15% {
        transform: rotateZ(-15deg);
      }
      20% {
        transform: rotateZ(10deg);
      }
      25% {
        transform: rotateZ(-10deg);
      }
      30% {
        transform: rotateZ(6deg);
      }
      35% {
        transform: rotateZ(-4deg);
      }
      40%, 100% {
        transform: rotateZ(0);
      }
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.photoGuess:hover {
    cursor: pointer;
}
#amber-photo img {
    width: auto;
    height: 30vw;
    min-height: 200px;
    max-height: 300px;
}
.hide {
    display: none;
}

#figcaption {
    margin-top: 0;
    color: peru;
}


@media (max-width: 1000px) {
    #puss-article {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}
@media (max-width: 650px) {
    #furryfriends h2,h3 {
        font-size: 2rem;
    }
}
/*end of furryfriends page */

/*start of hobby page*/
#hobby-main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#hobby-reminder {
    text-align: center;
    color: grey;
    font-size: 1.5rem;
}

.hobby {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-size: cover;
}
#button-container {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center;
    width: 80%;
    min-width: 200px;
}
#hobby-travel {
    background-image: url("../Hobby/travel/image/travel-poster_500x500.jpg");
}
#hobby-photography {
    background-image: url("../Hobby/photography/image/photography-poster.jpg");
}
#hobby-music {
    background-image: url("../Hobby/music/image/music_2_500x500.jpg");
}


#hobby-main-intro {
    font-size: 2.5rem;
    padding: 2rem;
    padding-bottom: 1rem;
}


.hobby a {
    margin:0;
    font-size: 1rem;
    color:white;
}

.hobby-h2 {
    margin: 1.5rem 4rem;
    padding: 0.5rem;
    font-size: 2rem;
}
@media (max-width: 1000px) {

    #hobby-main-intro {
        font-size: 2rem;
    }
    .hobby a {
        margin:0;
        font-size: 0.8rem;
        color:white;
    }
    .hobby figure {
        min-width: 250px;
        height: auto;
    }
    .hobby {
        width: 7rem;
        height: 7rem;
    }
    #vue-music h3 {
        font-size: 2rem;
    }
    .caption {
        font-size: 0.8rem;
    }
}

@media (max-width: 650px) {
    .hobby-h2{
        font-size: 1.5rem;
    }
    .hobby a {
        margin:0;
        font-size: 0.6rem;
        color:white;
    }
    .hobby {
        width: 5rem;
        height: 5rem;
    }
    #hobby-main-intro {
        font-size: 1.5rem;
    }
    .caption {
        font-size: 0.7rem;
    }
    #hobby-reminder {
        font-size: 1rem;
    }
}
a.active{
    color:gold;
}
#hobby-main a:hover {
    color: gold;
}

#vue-hobby {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#vue-travel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#vue-photography {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* end of hobby page*/

/*start of travel page*/

#travel-photo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.travel-photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26vw;
    height: auto;
    min-width: 250px;
    max-width: 330px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2rem 1rem;
    
}

.caption {
    text-align: center;
    padding: 10px 20px;
}

.travel-photos img {
    width: 95%;
    height: auto;
    padding: 0;
    margin: 0.5rem;
/*    -moz-filter: blur(50%);
    -webkit-filter: blur(50%);
    -ms-filter: blur(50%);
    filter:blur(0.3rem);*/
}
/*.travel-photos img:hover {
    transition: all 0.3s ease-in-out;
    filter:none;
}*/


/*end of travel page*/

/*start of photography page*/
#photographying {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#photography-container1,
#photography-container2,
#photography-container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 0.3rem;
    margin-bottom: 0;
    margin-top: 3rem;
}

#photography-container2 {
    align-items: flex-start;
    margin: 0;
}

#photography-container3 {
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 6rem;
}

.photography {
    width:16%;
    max-width: 20%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

#photography-container2 figure {
    width: 18%;
    max-width: 22%;
}


.photography img {
    width: 100%;
    height: auto;
}

.photography img:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    transition: all 0.5s ease-in-out;
}


/* end of hobby page*/
/* start of music page*/
#rap-music, #pop-music, #instrument-music{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
}
#rap-music {
    flex-direction:row-reverse;
}
#vue-music iframe {
    margin: 1rem;
    width:50vw;
    height: 30vw;
    min-width: 350px;
    min-height: 250px;
    max-width: 500px;
    max-height:350px;
}
#vue-music h3 {
    text-align: center;
    color: lightslategray;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.music-intro {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem 1rem 1rem 0.5rem;
    width: 45vw;
    max-width: 450px;
    box-shadow: 1px 5px 8px lightgray ;
    background-color: rgba(243, 237, 224, 0.283);
}

.music-intro p:hover {
    color:rgb(234, 113, 72);
}
/* start of experience page*/

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#experience h3 {
    text-align: center;
    font-size: 2.5rem;
}

#experience figure {
    text-align: center;
}

#experience img {
    width: 40vw;
    max-width: 600px;
    height: auto;
    min-width: 200px;
    margin-bottom: 0;
}

#experience figcaption {
    margin-top: 0;
}

#experience p {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#experience ol {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    list-style: outside lower-roman;
}

#experience li {
    margin: 1rem 1rem 0 0;
}

#experience-text::first-letter, #experience-text-2::first-letter {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
#experience-text-2 {
    margin-top: 0;
}

table {
    width: fit-content;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}


tr:nth-child(even) {
    background-color: rgba(85, 107, 47, 0.244);
}
table:last-child {
    border-bottom: 2px solid lightgray;
}
th {
    background-color: rgba(85, 107, 47, 0.851);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    border-top: 1px solid lightgray;
}

tr:hover {
    background-color: cornsilk;
}

#foot {
    text-align: right;
}

td,
th {
    padding: 0.3rem 0.5rem;
    text-align: center;
}

#check {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}
#academicBackground {
    display: flex;
    flex-direction: column;
    align-content: center;
}
#academicBackground h3{
    margin-bottom: 0;
}    
#academicBackground input {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    overflow-x: scroll;
}

#button {
    border-color: rgba(58, 77, 58, 0.491);
    background-color: rgba(54, 79, 54, 0.744);
    color: white;
}
/* end of experience page*/

/* start of contact page*/
#contact-main {
    background: url(../Contact/image/contact-background2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

form {
    width: 70%;
    margin-left: 3rem;
}
@font-face {
    font-family: contact-header;
    src: url(../css_stylesheet/font_sanserif/mokabella-font-2022-10-18-03-13-08-utc/MokaBeLLa.otf);
}
#contact-main h2 {
    font-family: contact-header;
    width: 65%;
    text-align: center;
    margin-left: 3rem;
}
#contact-main label {
    font-size: 1.1rem;
    margin-left: 0.4rem;
}
#contact-main input {
    padding: 0.2rem;
    font-size: 1rem;
    width: auto;
    height: fit-content;
}
#contact-main div{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
select {
    width: 15rem;
    text-align: center;
}
.input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.hideAlert {
    visibility: hidden;
}

.borderAlert {
    border-color: red;
}

#checkboxAlert, 
#radioAlert,
#alert1, 
#alert2, 
#alert3,
#alert4{
    color: red;
}
#alert1, #alert2, #alert3, #alert4 {
    padding: 0;
    margin: 0;
    margin-left: 2rem;
}
#alert4{
    align-self: center;
}
fieldset{
    width: 55%;
}

.choose {
    margin-bottom: 0.3rem;
}
.chooseheader {
    margin-top: 0.4rem;
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
}
#state-name {
    margin-bottom: 1rem;
}
textarea {
    font-size: 1rem;
    height: 8rem;
    width: 50%;
    min-width: 200px;
}
#message {
    margin-top: 0;
}
#submit-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#submit, #clear{
    width: 20%;
    background-color: #416351;
    color: lightgoldenrodyellow;
    border-color: gray;
}
#submit:hover {
    color: #416351;
    background-color: lightgoldenrodyellow;
}
#success-message {
    width: 70%;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
    color: salmon;
    display: none;
    margin-left: 3rem;
}
address p {
    color:rgb(103, 144, 103);
}
@media (max-width: 1000px) {
    #alert1, #alert2, #alert3, #alert4,fieldset, .chooseheader {
        font-size: 0.9rem;
    }
    #contact-main label {
        font-size: 0.9rem;
    }
    #contact-main h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 650px) {
    #alert1, #alert2, #alert3, #alert4,fieldset, .chooseheader {
        font-size: 0.7rem;
    }
    #contact-main label, input {
        font-size: 0.7rem;
    }
    #contact-main h2 {
        font-size: 2rem;
    }
}
