body {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(51, 57, 57, 0.875);
    font-size: 16pt;
}

h1, h2 ,h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.125em;
}